:root {
    /* TEXT COLOR */
    --text-black: #000;
    --text-white: #fff;
    --text-grey: #adbdcc;
    --body-font: "Roboto", sans-serif;
    /* HEADING */
    --heading-font: "Anek Telugu", sans-serif;
    --h1-size: 94px;
    --h2-size: 50px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    --h1-height: 108px;
    --h2-height: 75px;
    --subtitle-size: 17px;
    --subtitle-height: 26px;
    --p-size: 18px;
    --p-height: 26px;
    --secondary-text-size: 14px;
    --secondary-text-height: 18px;
    --button-size: 16px;
    /* COLOR */
    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;
    --primary-accent: #0a2540;
    --primary-button-hover: #687a88;
    --bg-white: #fff;
    --bg-light: #f7f9fc;
    /* SPACING */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
}

body {
    font-family: var(--body-font);
    color: var(--text-black);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: var(--spacing-sm) 0 0 0;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: var(--h1-size);
    margin: 0;
    width: 100%;
    letter-spacing: -1px;
    line-height: var(--h1-height);
}

h2 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h2-size);
    margin: 0;
    width: 100%;
    letter-spacing: -0.25px;
    line-height: var(--h2-height);
}

h3 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h3-size);
    margin: 0;
    width: 100%;
}

h4 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h4-size);
    margin: 0;
    width: 100%;
    letter-spacing: 0.25px;
}

h5 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h5-size);
    margin: 0;
    width: 100%;
}

h6 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--h6-size);
    margin: 0;
    width: 100%;
}

p {
    font-size: var(--p-size);
    line-height: var(--p-height);
    font-weight: 400;
    margin: var(--spacing-md) 0;
}

a {
    text-decoration: none;
    color: var(--purple-1);
    font-weight: 500;
    transition: color 0.25s;
}

a:hover {
    color: var(--primary-accent);
}

.subtitle,
.subtitle2 {
    color: var(--purple-1);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-height);
}

.subtitle2 {
    color: var(--blue-1);
}

.secondary-text {
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-height);
    color: var(--text-grey);
    letter-spacing: 0.25px;
}

.primary-button {
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    background-color: var(--primary-accent);
    border: none;
    color: var(--text-white);
    padding: var(--spacing-sm) var(--spacing-md);
    transition: all 0.15s ease;
}

.primary-button:hover {
    background-color: var(--primary-button-hover);
    cursor: pointer;
}


.secondary-button {
    font-family: var(--body-font);
    font-size: var(--button-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    color: var(--primary-accent);
    transition: all 0.15s ease;
}

.secondary-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.with-icon>img {
    transition: transform 0.25s ease;
}

.with-icon:hover>img {
    transform: translateX(4px);
}